.scroll-top{
    display: grid;
    place-items: center;
    position: fixed;
	bottom: 143px;
	right: 25px;
	width: 40px;
	height: 40px;
    background-color: $primary-background;
	z-index: 5;
	border-radius: 3px;
    @include mq(medium){
        display: none;
    }

    &:hover{
        cursor: pointer;
    }
}