{{ define "main" }}

<section class="card-details">
    <div class="container">
        <div class="card-details__content">
            <div class="card-details__schedule">
                <a class="card-details__backpage" href="#"><img src="/images/backpage-arrow.svg" alt=""></a>
                <h1 class="primary-heading card-details__heading">EVENTS</h1>
                <nav class="card-details__slider">
                    <div class="card-details__arrow card-details__arrow--left">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                    <div class="card-details__carousel">
                        <a class="card-details__carousel-item card-details__carousel-item--active" href="#">2021</a>
                        <a class="card-details__carousel-item" href="#">2020</a>
                        <a class="card-details__carousel-item" href="#">2019</a>
                        <a class="card-details__carousel-item" href="#">2018</a>
                        <a class="card-details__carousel-item" href="#">2017</a>
                        <a class="card-details__carousel-item" href="#">2016</a>
                        <a class="card-details__carousel-item" href="#">2015</a>
                        <a class="card-details__carousel-item" href="#">2014</a>
                        <a class="card-details__carousel-item" href="#">2013</a>
                        <a class="card-details__carousel-item" href="#">2012</a>
                        <a class="card-details__carousel-item" href="#">2011</a>
                        <a class="card-details__carousel-item" href="#">2010</a>
                    </div>
                    <div class="card-details__arrow card-details__arrow--right">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                </nav>

                <div class="card-details__times">
                    <div class="card-details__time">
                        <h3 class="card-details__month-name">December</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">December 2-4</p>
                            <p class="primary-text card-details__month-text">The Use of R in Official Statistics - <a class="primary-links card-details__month-links" href="#">uRos2020.</a> Vienna, Austria.</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">April</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">April 17</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">Women+ Data Science @MSU</a> East Lansing, MI, USA.</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">March</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">March 7</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">SatRdays Johannesburg Johannesburg,</a> South Africa.</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">March 14</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">SatRday Neuchâtel</a> Neuchâtel, Switzerland.</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">March 14-15</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">Chicago R Collaborative. </a>Chicago, USA. #chircollab</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">February</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">February 7</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">SatRdays Johannesburg</a> Johannesburg, South Africa.</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">February 14</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">SatRday Neuchâtel</a> Neuchâtel, Switzerland.</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">February 14-15</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">Chicago R Collaborative.</a> Chicago, USA. #chircollab</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">January</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">January 27-30</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="#">SatRdays Johannesburg</a> Johannesburg, South Africa.</p>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="card-details__sidebar">
                <div class="card-details__cards">
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="/images/r.png" alt="">
                        <h3 class="card-details__card-heading">R User Groups</h3>
                        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
                        <a class="button card-details__button" href="#">View R User Groups</a>
                    </div>
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="/images/r-ladies.png" alt="">
                        <h3 class="card-details__card-heading">R-Ladies Groups</h3>
                        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
                        <a class="button card-details__button" href="#">View R-Ladies Groups</a>
                    </div>
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="/images/virtual.png" alt="">
                        <h3 class="card-details__card-heading">Virtual Events</h3>
                        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
                        <a class="button card-details__button" href="#">View Virtual Events</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

{{- partial "scroll-top.html" . -}}

{{ end }}