{{ define "main" }}

<section class="meetings">
    <div class="container">
        <div class="meetings__content">
            <h1 class="primary-heading meetings__heading">A list of R conferences and meetings</h1>
            <div class="primary-text meetings__text">
                <p>This site attempts to list R conferences and local useR groups. Please feel free to add any missing group or conference. In particular, most of the associated twitter names are missing. There are currently 466 R user groups and events. To propose a change, just click the pencil icon next to the titles.</p>
                <p>Keep up to date by following <span class="meetings__text meetings__text--color">@rstats_meetings.</span></p>
                <p>This list is maintained by Jumping Rivers. We also maintain a corresponding list of <span class="meetings__text meetings__text--color">Data Science conferences and events.</span></p>
            </div>
        </div>
    </div>
</section>

{{ end }}





