{{ define "main" }}

<section class="card-details">
    <div class="container">
        <div class="card-details__content">
            <div class="card-details__schedule">
                <a class="card-details__backpage" href="#"><img src="/images/backpage-arrow.svg" alt=""></a>
                <h1 class="primary-heading card-details__heading">R User Groups</h1>
                <nav class="card-details__slider">
                    <div class="card-details__arrow card-details__arrow--left">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                    <div class="card-details__carousel">
                        <a class="card-details__carousel-item card-details__carousel-item--active" href="#">ASIA</a>
                        <a class="card-details__carousel-item" href="#">Europe</a>
                        <a class="card-details__carousel-item" href="#">Middle East/ Africa</a>
                        <a class="card-details__carousel-item" href="#">North America</a>
                        <a class="card-details__carousel-item" href="#">South America</a>
                        <a class="card-details__carousel-item" href="#">Australia</a>
                        <a class="card-details__carousel-item" href="#">Europe</a>
                        <a class="card-details__carousel-item" href="#">Middle East/ Africa</a>
                        <a class="card-details__carousel-item" href="#">North America</a>
                        <a class="card-details__carousel-item" href="#">South America</a>
                        <a class="card-details__carousel-item" href="#">Australia</a>
                    </div>
                    <div class="card-details__arrow card-details__arrow--right">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                </nav>

                <div class="card-details__times">
                    <div class="card-details__time">
                        <h3 class="card-details__month-name">Funding</h3>
                        <p class="primary-text card-details__month-date">The <a class="primary-links card-details__month-links" href="#">R Consortium</a> provides funding for local useR groups.</p>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">Asia</h3>
                        <p class="primary-text card-details__month-date">April 17</p>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">China</h3>
                        <p class="primary-text card-details__month-date">Xiamen: <a class="primary-links card-details__month-links" href="#">XMU-R</a></p>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">Hong Kong</h3>
                        <p class="primary-text card-details__month-date">Hong Kong: <a class="primary-links card-details__month-links" href="#">Hong Kong R User Group</a></p>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">India</h3>
                        <p class="primary-text card-details__month-date">Bangalore: <a class="primary-links card-details__month-links" href="#">Hong Bengaluru R UseR Group (BRUG)</a></p>
                        <p class="primary-text card-details__month-date">Chennai: <a class="primary-links card-details__month-links" href="#">R Users Group Chennai</a></p>
                        <p class="primary-text card-details__month-date">Delhi: <a class="primary-links card-details__month-links" href="#">Delhi NCR R useR Group</a></p>
                        <p class="primary-text card-details__month-date">Guna: <a class="primary-links card-details__month-links" href="#">R Meetup Guna; @RMeetupGuna</a></p>
                        <p class="primary-text card-details__month-date">Hyderabad: <a class="primary-links card-details__month-links" href="#">R Users Group Hyderabad RUGH</a></p>
                        <p class="primary-text card-details__month-date">Mumbai: <a class="primary-links card-details__month-links" href="#">mumbai-r-user-group</a></p>
                        <p class="primary-text card-details__month-date">New Delhi: <a class="primary-links card-details__month-links" href="#">New Delhi UseR Group</a></p>
                        <p class="primary-text card-details__month-date">Pune: <a class="primary-links card-details__month-links" href="#">Pune R User Group</a></p>
                    </div>
                </div>
            </div>
            <aside class="card-details__sidebar">
                <div class="card-details__cards">
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="/images/r.png" alt="">
                        <h3 class="card-details__card-heading">R User Groups</h3>
                        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
                        <a class="button card-details__button" href="#">View R User Groups</a>
                    </div>
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="/images/r-ladies.png" alt="">
                        <h3 class="card-details__card-heading">R-Ladies Groups</h3>
                        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
                        <a class="button card-details__button" href="#">View R-Ladies Groups</a>
                    </div>
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="/images/virtual.png" alt="">
                        <h3 class="card-details__card-heading">Virtual Events</h3>
                        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
                        <a class="button card-details__button" href="#">View Virtual Events</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

{{- partial "scroll-top.html" . -}}

{{ end }}