{{ define "main" }}

<section class="meetings">
    <div class="container">
        <div class="meetings__content">
            <h1 class="primary-heading meetings__heading">A list of R conferences and meetings</h1>
            <div class="primary-text meetings__text">
                <p>This site attempts to list R conferences and local useR groups. Please feel free to add any missing group or conference. In particular, most of the associated twitter names are missing. There are currently 466 R user groups and events. To propose a change, just click the pencil icon next to the titles.</p>
                <p>Keep up to date by following <a class="primary-links meetings__text meetings__text--underline" href="#">@rstats_meetings.</a></p>
                <p>This list is maintained by Jumping Rivers. We also maintain a corresponding list of <a class="primary-links meetings__text meetings__text--underline" href="#">Data Science conferences and events.</a></p>
            </div>
            
            {{- partial "card.html" . -}}

        </div>
    </div>
</section>

<section class="data">
    <div class="container">
        <div class="data__content">
            <h2 class="primary-heading">THE DATA</h2>
            <div class="primary-text meetings__text">
                <p>All files used to build this site can be found on the associated GitHub page.</p>
                <p>Additionally, you can download a convenient CSV file of the data</p>
                <ul class="data__list-items">
                    <li class="data__list-item">Conferences: <a class="primary-links data__links" href="#">https://jumpingrivers.github.io/meetingsR/events.csv</a></li>
                    <li class="data__list-item">User Groups: <a class="primary-links data__links" href="#">https://jumpingrivers.github.io/meetingsR/groups.csv</a></li>
                    <li class="data__list-item">Virtual events: <a class="primary-links data__links" href="#">https://jumpingrivers.github.io/meetingsR/virtual.csv</a></li>
                </ul>
                <p>The R scripts used to generate these CSV files are also located in the GitHub repo</p>
                <a class="primary-links data__links" class="data__links" href="#">https://github.com/jumpingrivers/meetingsR/tree/master/R</a>
                <p>These scripts were initially created via the <a class="primary-links data__links" href="#">eRum competition</a></p>
            </div>
        </div>
    </div>
</section>

{{- partial "scroll-top.html" . -}}

{{ end }}