{{ define "main" }}

<section class="card-details">
    <div class="container">
        <div class="card-details__content">
            <div class="card-details__schedule">
                <a class="card-details__backpage" href="#"><img src="/images/backpage-arrow.svg" alt=""></a>
                <h1 class="primary-heading card-details__heading">R User Groups</h1>
                <nav class="card-details__slider">
                    <div class="card-details__arrow card-details__arrow--left">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                    <div class="card-details__carousel">
                        <a class="card-details__carousel-item card-details__carousel-item--active" href="#">ASIA</a>
                        <a class="card-details__carousel-item" href="#">Europe</a>
                        <a class="card-details__carousel-item" href="#">Middle East/ Africa</a>
                        <a class="card-details__carousel-item" href="#">North America</a>
                        <a class="card-details__carousel-item" href="#">South America</a>
                        <a class="card-details__carousel-item" href="#">Australia</a>
                        <a class="card-details__carousel-item" href="#">Europe</a>
                        <a class="card-details__carousel-item" href="#">Middle East/ Africa</a>
                        <a class="card-details__carousel-item" href="#">North America</a>
                        <a class="card-details__carousel-item" href="#">South America</a>
                        <a class="card-details__carousel-item" href="#">Australia</a>
                    </div>
                    <div class="card-details__arrow card-details__arrow--right">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                </nav>

                <div class="card-details__times">
                    {{$countries:= .Params.groups.countries}}
                    {{range $countries}}
                    {{range .}}
                    <div class="card-details__time">
                        <h3 class="card-details__month-name">{{.countryName | markdownify}}</h3>
                        {{$groups:= .groups}}
                        {{range $groups}}
                        <p class="primary-text card-details__month-date">{{.description | markdownify}}</p>
                        {{end}}
                    </div>
                    {{end}}
                    {{end}}
                </div>
            </div>
            <aside class="card-details__sidebar">
                <div class="card-details__cards">
                    {{$cards:= .Params.cards}}
                    {{range $cards}}
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="{{.imageUrl | markdownify}}" alt="{{.imageDescription | markdownify}}">
                        <h3 class="card-details__card-heading">{{.heading | markdownify}}</h3>
                        <p class="primary-text">{{.text | markdownify}}</p>
                        <a class="button card-details__button" href="{{.buttons.buttonUrl | markdownify}}">{{.buttons.buttonName | markdownify}}</a>
                    </div>
                    {{end}}
                </div>
            </aside>
        </div>
    </div>
</section>

{{- partial "scroll-top.html" . -}}

{{ end }}