<footer class="footer">
  <div class="footer__sub-footer">
    <div class="container">
      <nav class="footer__footer-nav">
        {{- range .Site.Menus.footer -}}
        <a class="primary-text footer__footer-nav-item" href="{{.URL | urlize}}">{{.Name | markdownify}}</a>
        {{end}}
      </nav>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <p class="primary-text footer__copyright-text">{{.Site.Params.copyright | markdownify}}
        <a class="primary-text footer__footer-nav-item" href="{{.Site.Params.developedBy.url | absURL}}">{{.Site.Params.developedBy.name | markdownify}}</a>
      </p>
    </div>
  </div>
</footer>
{{if .IsHome }}
{{else}}
<script src="/javascript/script.js"></script>
<script src="/javascript/slider.js"></script>
{{end}}
