<footer class="footer">
    <div class="footer__sub-footer">
        <div class="container">
            <nav class="footer__footer-nav">
                <a class="primary-text footer__footer-nav-item" href="#">Website Terms Data and Privacy</a>
                <a class="primary-text footer__footer-nav-item" href="#">aBooking Terms</a>
            </nav>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <p class="primary-text footer__copyright-text">©2021 Jumping Rivers | Site by <a class="primary-text footer__footer-nav-item" href="https://buglelab.io">BugleLab</a></p>
        </div>
    </div>
</footer>