{{ define "main" }}

<section class="card-details">
    <div class="container">
        <div class="card-details__content">
            <div class="card-details__schedule">
                <a class="card-details__backpage" href="#"><img src="/images/backpage-arrow.svg" alt=""></a>
                <h1 class="primary-heading card-details__heading">EVENTS</h1>
                <nav class="card-details__slider">
                    <div class="card-details__arrow card-details__arrow--left">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                    <div class="card-details__carousel">
                        <a class="card-details__carousel-item card-details__carousel-item--active" href="#">2021</a>
                        <a class="card-details__carousel-item" href="#">2020</a>
                        <a class="card-details__carousel-item" href="#">2019</a>
                        <a class="card-details__carousel-item" href="#">2018</a>
                        <a class="card-details__carousel-item" href="#">2017</a>
                        <a class="card-details__carousel-item" href="#">2016</a>
                        <a class="card-details__carousel-item" href="#">2015</a>
                        <a class="card-details__carousel-item" href="#">2014</a>
                        <a class="card-details__carousel-item" href="#">2013</a>
                        <a class="card-details__carousel-item" href="#">2012</a>
                        <a class="card-details__carousel-item" href="#">2011</a>
                        <a class="card-details__carousel-item" href="#">2010</a>
                    </div>
                    <div class="card-details__arrow card-details__arrow--right">
                        <img src="/images/arrow-right.svg" alt="">
                    </div>
                </nav>

                <div class="card-details__times">
                    <div class="card-details__time">
                        <h3 class="card-details__month-name">{{.Params.timesOne.heading | markdownify}}</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesOne.dateOne | markdownify}}</p>
                            <p class="primary-text card-details__month-text">{{.Params.timesOne.textone | markdownify}}<a class="primary-links card-details__month-links" href="{{.Params.timesOne.buttonsOne.buttonUrl | markdownify}}">{{.Params.timesOne.buttonsOne.buttonName | markdownify}}</a> {{.Params.timesOne.textTwo | markdownify}}</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">{{.Params.timesTwo.heading | markdownify}}</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesTwo.dateOne | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesTwo.buttonsOne.buttonUrl | markdownify}}">{{.Params.timesTwo.buttonsOne.buttonName | markdownify}}</a> {{.Params.timesTwo.textOne | markdownify}}</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">{{.Params.timesThree.heading | markdownify}}</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesThree.dateOne | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesThree.buttonsOne.buttonUrl | markdownify}}">{{.Params.timesThree.buttonsOne.buttonName | markdownify}}</a> {{.Params.timesThree.textOne | markdownify}}</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesThree.dateTwo | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesThree.buttonsTwo.buttonUrl | markdownify}}">{{.Params.timesThree.buttonsTwo.buttonName | markdownify}}</a> {{.Params.timesThree.textTwo | markdownify}}</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesThree.dateThree | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesThree.buttonsThree.buttonUrl | markdownify}}">{{.Params.timesThree.buttonsThree.buttonName | markdownify}}</a> {{.Params.timesThree.textThree | markdownify}}</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">{{.Params.timesFour.heading | markdownify}}</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesFour.dateOne | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesFour.buttonsOne.buttonUrl | markdownify}}">{{.Params.timesFour.buttonsOne.buttonName | markdownify}}</a> {{.Params.timesFour.textOne | markdownify}}</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesFour.dateTwo | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesFour.buttonsTwo.buttonUrl | markdownify}}">{{.Params.timesFour.buttonsTwo.buttonName | markdownify}}</a> {{.Params.timesFour.textTwo | markdownify}}</p>
                        </div>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesFour.dateThree | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesFour.buttonsThree.buttonUrl | markdownify}}">{{.Params.timesFour.buttonsThree.buttonName | markdownify}}</a> {{.Params.timesFour.textThree | markdownify}}</p>
                        </div>
                    </div>

                    <div class="card-details__time">
                        <h3 class="card-details__month-name">{{.Params.timesFive.heading | markdownify}}</h3>
                        <div class="card-details__month-details">
                            <p class="primary-text card-details__month-date">{{.Params.timesFive.dateOne | markdownify}}</p>
                            <p class="primary-text card-details__month-text"><a class="primary-links card-details__month-links" href="{{.Params.timesFive.buttonsOne.buttonUrl | markdownify}}">{{.Params.timesFive.buttonsOne.buttonName | markdownify}}</a> {{.Params.timesFive.textOne | markdownify}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <aside class="card-details__sidebar">
                <div class="card-details__cards">
                    {{$cards:= .Params.cards}}
                    {{range $cards}}
                    <div class="card-details__card">
                        <img class="card-details__card-image" src="{{.imageUrl}}" alt="{{.imageDescription}}">
                        <h3 class="card-details__card-heading">{{.heading}}</h3>
                        <p class="primary-text">{{.text}}</p>
                        <a class="button card-details__button" href="{{.buttons.buttonUrl}}">{{.buttons.buttonName}}</a>
                    </div>
                    {{end}}
                </div>
            </aside>
        </div>
    </div>
</section>

{{- partial "scroll-top.html" . -}}

{{ end }}