// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.meetings{
    background-color: $primary-background;
    padding: 7rem 0 2rem 0;
    @include mq(medium){
        padding: 11rem 0 2rem 0;
    }

    &__content{
        max-width: 800px;
        width: 100%;
        margin: auto;
    }

    &__heading{
        display: table;
        margin: auto;
        border-top: 0.8px solid $primary-border;
        border-bottom: 0.8px solid $primary-border;
        padding: 10px 0;
    }

    &__text{
        margin-top: 30px;
        &--color{
            color: $primary-heading;
        }
    }
}