<div class="card__cards">
    <div class="card__card">
        <img class="card__card-image" src="/images/events.png" alt="">
        <h3 class="card__card-heading">EVENTS</h3>
        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
        <a class="button card__button" href="#">View Events</a>
    </div>
    <div class="card__card">
        <img class="card__card-image" src="/images/r.png" alt="">
        <h3 class="card__card-heading">R User Groups</h3>
        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
        <a class="button card__button" href="#">View R User Groups</a>
    </div>
    <div class="card__card">
        <img class="card__card-image" src="/images/r-ladies.png" alt="">
        <h3 class="card__card-heading">R-Ladies Groups</h3>
        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
        <a class="button card__button" href="#">View R-Ladies Groups</a>
    </div>
    <div class="card__card">
        <img class="card__card-image" src="/images/virtual.png" alt="">
        <h3 class="card__card-heading">Virtual Events</h3>
        <p class="primary-text">Lorem ipsum dolor sit amet, possit tibique no eam, porro decore eu sea</p>
        <a class="button card__button" href="#">View Virtual Events</a>
    </div>
</div>