<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__nav-icon">
                <img class="header__icon" src="/images/nav-icon.svg" alt="">
            </div>
            <div class="header__logo">
                <picture>
                    <source media="(min-width:768px)" srcset="/images/jr-logo.svg">
                    <img class="header__logo-image" src="/images/jr-moblle-logo.svg" alt="">
                </picture> 
            </div>
        </div>
    </div>
</header>