.card-details{
    padding: 6rem 0 2rem 0;
    @include mq(medium){
        padding: 11rem 0 8rem 0;
    }

    &__content{
        @include mq(medium){
            display: grid;
            grid-template-columns: 65% 24%;
            grid-gap: 20px;
            // grid-template-areas: 
            //     "menu sidebar"
            //     "main sidebar";
        }
        @include mq(large){
            grid-template-columns: 74% 24%;
            // grid-gap: 50px;
            // grid-template-areas: 
            //     "menu . sidebar"
            //     "main main sidebar";
        }
    }

    // &__nav{
    //     grid-area: menu;
    // }

    // &__sidebar{
    //     grid-area: sidebar;
    // }

    // &__schedule{
    //     grid-area: main;
    // }

    &__backpage{
        display: none;
        @include mq(medium){
            display: block;
        }
    }
    &__header{
        background-color: #fff;
    }
    &__heading{
        margin: 20px 0 0 0;
        text-align: left;

        a{
            text-decoration: none;
        }
    }

    &__slider{
        margin-top: 30px;
        position: relative;
        display: inline-block;
        max-width: 100%;
    }

    &__carousel-wrapper{
        position: relative;
        overflow: hidden;
        max-width: 85%; 
        display: inline-block;
        margin: auto 40px;
       
        @include mq(medium){
            max-width: 80%;
        }
        @include mq(large){
            max-width: 90%;
        }
    }

    &__carousel{
        margin: auto;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        transition: .4s;
    }

    &__carousel-item{
        font-weight: $normal;
        font-size: $semi-large;line-height: 22px;
        text-transform: uppercase;
        color: $primary-text;
        padding: 7px 10px;
        border-radius: 2px;
        flex: 0 0 auto;
        text-decoration: none;
        @include mq(medium){
            font-weight: $light;
            font-size: $large;
        }

        &--active{
            background-color: $secondary-background;
            color: $secondary-text;
        }

        &:hover{
            text-decoration: none;
        }
    }

    &__arrow{
        width: 30px;
        height: 30px;
        background-color: $arrows-background;
        display: grid;
        place-items: center;

        &:hover{
            cursor: pointer;
        }

        &--left{
            position: absolute;
            top: 3px;
            left: 0;
            z-index: 1;
            img{
                transform: rotate(180deg);
            }
        }

        &--right{
            position: absolute;
            top: 3px;
            right: 0;
            z-index: 1;
        }
    }

    &__category-wrapper{
        margin-top: 40px;
        h2{
            a{
                text-decoration: none;
                padding-top: 40px;
                display: inline-block;
            }
        }
    }

    &__category{
        font-size: $large;
        line-height: 35px;
        font-weight: $semi-bold;
        color: $primary-heading;
        text-transform: uppercase;
        text-decoration: none;

        &:hover{
            text-decoration: none;
        }
    }

    &__sub-category-details{
        @include mq(medium){
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    ul{
        padding-left: 15px;
        list-style: none;
        
        li{
            font-size: $semi-medium;
            line-height: 15px;
            color: $primary-text;
            position: relative;

            &::before {
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #4898A8;
                position: absolute;
                top: 5px;
                left: -15px;
            }
        }
    }

    &__sub-category{
        font-weight: $normal;
        font-size: $medium;
        line-height: 18px;
        text-transform: uppercase;
        color: $primary-text;
        margin-top: 30px;
        margin-bottom: 10px;
        @include mq(medium){
            font-weight: $semi-bold;
        }

        &--heading{
            font-size: $large;
        }

        &--small{
            color: $primary-text;
            font-weight: $semi-bold;
        }
    }

    &__sub-category-link{
        display: block;
        padding-top: 40px;
        text-decoration: none;

        &:hover{
            text-decoration: none;
        }
    }

    &__month-date{
        text-align: left;
        font-size: $semi-medium;
        line-height: 15px;
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 20px;
        position: relative;
        @include mq(medium){
            flex: 0 0 30%;
            margin: 10px 0 10px 15px;
        }

        &::before{
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: $secondary-background;
            position: absolute;
            top: 5px;
            left: -15px;
        }

        &--groups{
            flex: 0 0 100%;
        }

        a{
            color: $primary-heading;
            text-decoration: underline;
        }
    }

    &__month-text{
        text-align: left;
        font-size: $semi-medium;
        line-height: 22px;
        @include mq(medium){
            flex: 0 0 70%;
            margin: 10px 0;
        }

        a{
            color: $primary-heading;
            text-decoration: underline;
        }
    }

    &__month-links{
        text-decoration: underline;
    }

    &__sidebar{
        margin-top: 50px;
        margin-bottom: 100px;
        @include mq(medium){
            margin-top: 0;
            margin-bottom: 30px;
            // position: fixed;
            // right: 2%;
            // max-width: 240px;
            // width: 100%;
        }
        // @include mq(large){
        //     width: 100%;
        //     right: 2%;
        // }
        // @include mq('1180px'){
        //     max-width: 270px;
        //     width: 100%;
        //     right: 2%;
        //     // transform: translate(-100%, 0);
        // }
    }

    &__cards{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        @include mq(medium){
            grid-gap: 20px;
        }
    }

    &__card{
        padding: 20px 45px;
        background-color: $card-background;
        border-radius: 2px;
        @include mq(medium){
            padding: 20px;
        }
    }

    &__card-image{
        width: 105px;
        display: block;
        margin: auto;
        height: 72px;
        @include mq(medium){
            width: 194px;
            height: 129px;
        }
    }

    &__card-heading{
        font-weight: $light;
        font-size: $semi-large;
        line-height: 22px;
        text-align: center;
        color: $primary-heading;
        text-transform: uppercase;

        a{
            text-decoration: none;
        }
    }

    &__button{
        display: block;
        margin: auto;
        padding: 15px;
        width: 200px;
        font-size: $small;
        @include mq(medium){
            display: table;
            width: auto;
        }
    }
}